{{- $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) -}}
{{- $description := .Description | default .Summary | default site.Params.profileMode.subtitle | default site.Title -}}
{{- $base := resources.Get "css/base.css" -}}
{{- $custom := resources.Get "css/extended/custom.css" -}}
{{- $styles := slice $base $custom | resources.Concat "css/site.css" | minify | fingerprint -}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ $title }}</title>
<meta name="description" content="{{ $description }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="/favicon.ico">
<meta property="og:title" content="{{ .Title | default site.Title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title | default site.Title }}">
<meta name="twitter:description" content="{{ $description }}">
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{- with .OutputFormats.Get "RSS" }}
<link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}" title="{{ site.Title }}">
{{- end }}
{{- partial "extend_head.html" . -}}
